:root {
  /* Font families */
  --font-family-main: 'Roboto', sans-serif;
  --font-family-h1: system-ui;
  --font-family-p: 'Inter', sans-serif;
  --font-family-span: monospace;

  /* Line heights */
  --line-height: 1.5;
  --line-height-small: 1.1;

  /* Font weights */
  --font-weight-text: 400;
  --font-weight-text-bold: 500;
  --font-weight-text-bolder: 600;

  /* Font sizes */
  --font-size-small: 16px;
  --font-size-base: 20px;
  --font-size-large: 24px;
  --font-size-x-large: 32px;

  /* Colors */
  --color-primary: #fff;
  --color-secondary: #4F5D75;
  --background-color: #BFC0C0;
  --color-bg-button: #2D3142;
  --color-hover-button: #EF8354;
  --color-text-button: #fff;
  --color-h1-text: #EF8354;
  --color-p-text: #000;
  --color-text-ready: #2fea12;
  --color-text-warning: #e10e0e;
  /* Import fonts like Roboto and Inter */
  /* Set theme switcher, dark theme/Light theme */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#content-area {
 width: 100%;
 max-width: 90%;
 margin: 20px auto;
 padding: 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: var(--color-primary);
 border-radius: 8px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  background-color: var(--background-color);
  word-break: break-word;
  overflow-wrap: break-word;
}

#posts-container {
  width: 100%;
  background-color: var(--color-primary);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  overflow-x: hidden;
}

.main-navigation, a {
  display: inline-flex;
  font-family: var(--font-family-main);
  font-size: var(--font-size-base);
  color: var(--color-primary);
  gap: 10px;
}

.main-navigation a:hover {
  font-size: larger;
  color: var(--color-secondary);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 10px;
  height: auto;
  border-radius: 18px;
  border: 1px solid #000;
}

article.post-card {
  padding: 5px;
  background-color: var(--color-primary);
  gap: 40px;
  border-top-style: ridge;
  border-bottom-style: ridge;
  border-radius: 8px;
}

#h1 {
  font-family: var(--font-family-h1);
  font-size: var(--font-size-x-large);
  font-weight: var(--font-weight-text-bold);
  color: var(--color-h1-text);
}

h1 {
  color: var(--color-secondary);
  font-size: var(--font-size-x-large);
  margin-top: 40px;
  margin-bottom: 20px;
}

h2 {
  font-family: var(--font-family-p);
  font-size: var(--font-size-base);
  color: var(--color-p-text);
  background-color: var(--color-secondary);
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 14px;
  border-radius: 8px;
}

h3 {
  font-family: var(--font-family-h1);
  font-size: var(--font-size-large);
  margin-top: 20px;
  margin-bottom: 20px;
  border-top-style: ridge;
  border-radius: 3px;
  padding: 5px;
}

p {
  display: block;
  height: auto;
  font-family: var(--font-family-p);
  font-size: var(--font-size-base);
  color: var(--color-p-text);
  padding: 5px;
  border-bottom-style: ridge;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  word-break: break-word;
  overflow-wrap: break-word;
}

button {
  font-family: var(--font-family-span);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-text-bold);
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
  border: none;
  border-radius: 6px;
  outline: none;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
}

Button:hover {
  background-color: var(--color-hover-button);
  font-weight: var(--font-weight-text-bolder);
  font-size: larger;
}

.read-more-link {
  max-width: 70%;
  padding: 5px;
  margin-top: 10px;
  align-items: center;
}

.react-button {
  width: 120px;
  padding: 5px;
  margin-top: 10px;
  align-items: center;
}

.edit-post-button {
  width: 120px;
  padding: 8px 25px;
  margin: 10px;
}

.delete-post-button {
  width: 120px;
  padding: 8px 25px;
  margin: 3px;
}

span {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  gap: 4px;
  width: 250px;
  padding: 10px;
}

.post-info-wrapper {
  font-family: var(--font-family-p);
  font-style: var(--color-secondary);
  font-size: var(--font-size-small);
}

.post-interaction {
  font-family: var(--font-family-span);
  color: var(--color-text-button);
  background-color: var(--color-secondary);
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 8px;
}

/* PostForm.ts */

.status-message {
  display: block;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: var(--font-size-small);
  font-family: var(--font-family-p);
  margin-top: 20px;
  text-align: center;
  transition: opacity 0.3s ease;
}

.status-success {
  background-color: var(--color-text-ready);
  color: var(--color-primary);
}

.status-error {
  background-color: var(--color-text-warning);
  color: var(--color-primary);
}

/* Login page */

.login-page-container {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 40px;
  border-radius: 4px;
}

.login-page-container,
h2 {
  color: var(--color-primary);
}

.form-group {
  margin-top: 40px;
  max-width: 300px;
}

.form-group,
p {
  font-size: var(--font-size-base);
}

label {
  padding: 20px;
}

input {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

/* Register page */
input#email,
input[type="email"] {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.register-page-container {
  background-color: var(--color-hover-button);
  padding: 40px;
  border-radius: 4px;
}

/* Profile page */

.profile-avatar {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Create page */
#create-post-form-container {
  background-color: #2d314279;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
}

.heading {
  font-size: var(--font-size-large);
  color: var(--color-h1-text);
}

input#text,
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  border: none;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  border: none;
}

/* Follow Profiles*/

.profile-header {
  background-color: #4F5D75;
  color: #fff;
}

/* Search Page*/

.search-input {
  background-color: #4f5d7598;
}

::placeholder {
  color: var(--color-p-text);
  padding: 5px 20px;
}

.search-button {
  width: 140px;
}

@media (min-width: 768px) {

img {
  max-width: 80%;
}

h2 {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

#create-post-button {
  display: block;
  width: 200px;
  margin: 10px auto;
}

.author-follow-wrapper, span {
  width: 550px;
  margin: 0 auto;
}

.follow-toggle-button {
  width: 120px;
  margin: 0 auto;
}

.edit-profile-button {
  display: block;
  max-width: 260px;
  margin: 20px auto;
}

.edit-banner-button {
  display: block;
  max-width: 260px;
  margin: 20px auto;
}

}

@media (min-width: 1024px) {

img {
  max-width: 50%;
}

.post-interaction {
  max-width: 600px;
  margin: 0 auto;
}

}

@media (min-width: 1424px) {

img {
  max-width: 30%;
  margin-top: 40px;
  margin-bottom: 20px;
}

h3 {
  max-width: 600px;
  margin: 0 auto;
}

.post-interaction {
  max-width: 600px;
  margin: 0 auto;
}

}