@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Font families */
  --font-main: 'Roboto', sans-serif;
  --font-h1: system-ui;
  --font-p: 'Inter', sans-serif;
  --font-span: monospace;

  /* Line heights */
  --line-height: 1.5;
  --line-height-small: 1.1;

  /* Font weights */

  /* Font sizes */
  --font-sm: 16px;
  --font-base: 20px;
  --font-lg: 24px;
  --font-xl: 32px;

  /* Colors */
  --color-primary: #fff;
  --color-secondary: oklch(86.9% 0.022 252.894);
  --background-color: #bfc0c0;
  --color-bg-button: oklch(90.1% 0.058 230.902);
  --color-hover-button: oklch(82.8% 0.111 230.318);
  --color-text-button: #fff;
  --color-h1-text: #ef8354;
  --color-p-text: #000;
  --color-bg-ready: oklch(90.5% 0.093 164.15);
  --color-text-ready: oklch(43.2% 0.095 166.913);
  --color-text-warning: oklch(44.4% 0.177 26.899);
  --color-bg-warning: oklch(70.4% 0.191 22.216);
  /* Import fonts like Roboto and Inter */
  /* Set theme switcher, dark theme/Light theme */
}

html {
  scroll-behavior: smooth;
}
