:root {
  --font-family-h1: "system-ui";
  --font-family-text: "Roboto", sans-serif;
  
  --line-height: 1.5;
  --line-height-small: 1.1;
  --font-weight-text: 400;
  --font-weight-text-bold: 500;
  --font-weight-text-bolder: 600;

  --font-size-small: 16px;
  --font-size-base: 20px;
  --font-size-large: 24px;
  --font-size-x-large: 32px;

  --color-primary: #f45607;
  --color-secondary: rgb(235, 78, 10);
  --background-color: #ecf0f1;
  --color-text-button: #fff;
  --color-text: #000;
  --color-text-go: #2fea12;
  --color-text-warning: #e10e0e;



  /*color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

/*Common styles*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-self: center;
  text-align: center;
  display: flex;
  min-height: 100vh;
  background: linear-gradient(#23243edb);
}

a {
  font-weight: 600;
  color: #ffa264;
  text-decoration: inherit;
  padding: 20px;
}

a:hover {
  color: #a6f40b;
}

h1 {
  font-family: var(--font-family-text);
  color: var(--color-secondary);
  font-size: var(--font-size-x-large);
  line-height: 1.1;
  font-weight: var(--font-weight-text-bolder);
}

h2 {
  font-family: var(--font-family-h1);
  color: var(--color-primary);
}

h3 {
  max-width: 600px;
}

#loginForm {
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: var(--color-secondary);
  border-radius: 4%;
  margin-top: 40px;
}

label {
  display: block;
  font-family: var(--font-family-text);
  font-size: var(--font-size-base);
  color: var(--color-text-button);
  margin: 40px 0px 10px 0px;
}

input {
  width: 250px;
  height: 22px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid transparent;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-top: 40px;
  padding: 10px 20px;
  font-size: var(--font-size-small);
  font-weight: 600;
  font-family: var(--font-family-text);
  color: #fff;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-text-button);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*PostForm.ts*/
.status-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  display: block;
}

.status-success {
  color: var(--color-text-go);
  border: 1px solid #d6e9c6;
}

.status-error {
  color: var(--color-text-warning);
  border: 1px solid #ebccd1;
}

/*Post Feed Container*/

.post-card {
  max-width: 600px;
  text-align: inherit;
  margin: 10px;
}

.post-image {
  max-width: 300px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 24px;
  border: 1px solid transparent;
}


/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/
